.main-sneaker-large-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 80%;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(117, 117, 117);

  border-width: 2px;
  padding: 10px;
  transition: 0.2s;
}

.main-sneaker-large-holder a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.main-sneaker-large-holder:hover {
  border-color: #0076a5;
  border-radius: 10px;
}

.main-sneaker-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
}

.main-sneaker-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-sneaker-top h3 {
  text-align: center;
}

.main-sneaker-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-sneaker-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.main-sneaker-image img {
  width: 80%;
}

.main-sneaker-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sneaker-save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
  border-color: #0076a5;
  background-color: #0076a5;
  border-style: solid;
  border-radius: 5px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.sneaker-save-button p {
  font-size: larger;
}

.sneaker-save-button:hover {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
  border-color: #209fd2;
  background-color: #209fd2;
  border-style: solid;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 992px) {
  .main-sneaker-large-holder {
    border-width: 1px;
    height: 380px;
    width: 85%;
  }
  .sneaker-save-button {
    color: aliceblue;
    border-color: #0076a5;
    background-color: #0076a5;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    height: 90px;
    cursor: pointer;
    transition: 0.2s;
  }
}

@media screen and (max-width: 768px) {
  .sneaker-save-button p {
    font-size: larger;
  }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 420px) {
}
