.main-sneaker-large-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(117, 117, 117);

  border-width: 2px;
  padding: 10px;
  transition: 0.2s;
}

.main-sneaker-large-holder a {
  color: black;
}

.main-sneaker-large-holder:hover {
  border-color: #0076a5;
  border-radius: 10px;
}

.main-sneaker-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 10px;
  height: 350px;
}

.main-sneaker-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-sneaker-top h3 {
  text-align: center;
}

.main-sneaker-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-sneaker-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.main-sneaker-image img {
  width: 80%;
}

.main-sneaker-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .main-sneaker-large-holder {
    border-width: 1px;
    height: 300px;
    width: 85%;
  }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 420px) {
}
