.shoeinfo-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(117, 117, 117);
  width: 100%;
  max-width: 1400px;
  min-height: 600px;
  text-align: center;
}

.shoeinfo-top-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.shoeinfo-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.shoeinfo-left img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.shoeinfo-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.shoeinfo-right-h1 {
  padding: 20px;
}

.shoeinfo-price-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.shoeinfo-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-color: #209fd2;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  width: 90px;
  height: 90px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.shoeinfo-price:hover {
  border-radius: 20px;
  background-color: #209fd2;
  color: aliceblue;
  cursor: pointer;
}

.shoeinfo-bottom-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  max-width: 1400px;
}

.size-item-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px;
}

.size-item-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5px;
  width: 10%;
  max-width: 200px;
}

.price-text {
  color: #20bb1d;
}

.bottom-info-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bottom-info-holder button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
  border-color: #0076a5;
  background-color: #0076a5;
  border-style: solid;
  border-radius: 5px;
  width: 90px;
  height: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.bottom-info-holder button:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
  border-color: #209fd2;
  background-color: #209fd2;
  border-style: solid;
  border-radius: 5px;
  width: 90px;
  height: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.6s;
}

@media screen and (max-width: 1400px) {
  .shoeinfo-holder {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .shoeinfo-holder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .shoeinfo-top-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
  }

  .shoeinfo-bottom-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
  }
  .shoeinfo-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .shoeinfo-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .shoeinfo-left img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 420px) {
}
