.login-form-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 100px;
}

.login-form-holder div {
  margin-top: 20px;
}

.login-form-holder div a {
  font-size: 20px;
  color: #0076a5;
}

label {
  font-size: larger;
}

.danger-label {
  text-align: center;
  color: rgb(255, 0, 0);
  background-color: rgb(253, 183, 183);
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 400px;
  height: 600px;
  border-style: solid;
  border-radius: 10px 10px 0px 0px;
  border-width: 1px;
}

.login-form div {
  font-family: Georgia, serif;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-input {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90%;
  margin-bottom: 20px;
  font-size: large;
}

.login-button {
  width: 90%;
  margin-top: 5px;
  background-color: #0076a5;
  border-style: solid;
  border-color: #0076a5;
  border-radius: 6px;
  color: aliceblue;
  font-size: larger;
  padding: 10px;
  transition: 0.2s;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #1b89b4;
  border-color: #209fd2;
}

.login-button:active {
  background-color: #209fd2;
  border-color: #ffffff;
}

.google-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 5px;
  background-color: #f0f0f0;
  border-style: solid;
  border-color: #cacaca;
  border-radius: 6px;
  color: rgb(26, 26, 26);
  font-size: larger;
  padding: 10px;
  transition: 0.2s;
  margin-bottom: 20px;
}

.google-button img {
  left: 0;
  position: relative;
  width: 20px;
  margin-right: 20px;
}

.google-button h1 {
  width: 80%;
  margin-right: 20px;
}

.google-button:hover {
  background-color: #ffffff;
  border-color: #616161;
}

.google-button:active {
  background-color: #616161;
  border-color: #f0f0f0;
}

#logsign-button-holder {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  width: 90%;
  max-width: 400px;
  border-style: solid;
  border-radius: 0px 0px 10px 10px;
  border-width: 0px 1px 1px 1px;
}

.loginButton-class {
  border-radius: 0px 0px 10px 0px;
}

.signupButton-class {
  border-radius: 0px 0px 0px 10px;
}

#active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 40px;
  background-color: #cfcfcf;
  border-style: none;
  color: rgb(26, 26, 26);
  font-size: larger;
  padding: 2px;
  transition: ease 0.4s;
}

#active div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #000000;
  border-style: none;
  color: rgb(26, 26, 26);
  font-size: larger;
  padding: 1px;
  margin-top: 4px;
  transition: ease 0.4s;
}

#inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 40px;
  background-color: #ffffff;
  border-style: none;
  color: rgb(26, 26, 26);
  font-size: larger;
  padding: 2px;
  transition: ease 0.4s;
  cursor: pointer;
}

/* #inactive:hover {
  background-color: #dbdbdb;
  transition: ease 0.4s;
} */

#inactive div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #eeeeee;
  border-style: none;
  color: rgb(26, 26, 26);
  font-size: larger;
  padding: 1px;
  margin-top: 4px;
  transition: ease 0.4s;
}

@media screen and (max-width: 768px) {
  .login-form-holder {
    margin-top: 0px;
  }
}
