.small-saved-shoe-holder {
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-style: solid;
  border-radius: 40px;
  border-color: white;
}

.small-saved-shoe-holder a:hover {
  color: #0076a5;
}

.saved-top-holder {
  display: flex;
  width: 98%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.small-saved-shoe-holder img {
  display: flex;
  width: 200px;
}

.saved-top-holder h1 {
  text-align: center;
}

.saved-bottom-holder {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #0076a5;
}

.saved-bottom-holder h1 {
  text-align: center;
}

.delete-saved-button {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-width: 2px;
  transition: 0.1s;
  text-align: center;
}

.delete-saved-button:hover {
  border-color: rgb(255, 149, 149);
  background-color: rgb(190, 22, 22);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 992px) {
  .delete-saved-button {
    color: aliceblue;
    background-color: rgb(153, 6, 6);
    border-color: rgb(190, 22, 22);
  }
}

@media screen and (max-width: 768px) {
  .small-saved-shoe-holder {
    width: 90%;
    flex-direction: column;
  }

  .saved-top-holder {
    flex-direction: row;
  }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 420px) {
  .saved-top-holder {
    flex-direction: column;
  }
}

@media screen and (max-width: 370px) {
}
